# http://ddollar.github.com/foreman/
ASSET_HOST=localhost:3000
HOST=localhost:3000
RACK_ENV=development
SECRET_KEY_BASE=development_secret
EXECJS_RUNTIME=Node
BRAINTREE_MERCHANT_ID = "b_mearchant_id"
BRAINTREE_PUBLIC_KEY = "b_public_key"
BRAINTREE_PRIVATE_KEY = "b_private_key"
BRAINTREE_MAIN_MERCHANT_ID = "b_main_merchant_id"
ACCOUNT_SID = 'twilio_account_sid'
AUTH_TOKEN = 'twilio_auth_token'
TWILIO_FROM_NUMBER = "twilio_from_number"
PUSHER_URL=http://690cf7317835f06d3791:05fe256b6e86c2e5f575@api.pusherapp.com/apps/126057
