# http://ddollar.github.com/foreman/
ASSET_HOST=localhost:3000
HOST=localhost:3000
RACK_ENV=development
SECRET_KEY_BASE=development_secret
EXECJS_RUNTIME=Node
BRAINTREE_MERCHANT_ID = "dnwq9cs5s2yfrr6j"
BRAINTREE_PUBLIC_KEY = "4fp5gjzzxwv8p4nc"
BRAINTREE_PRIVATE_KEY = "c135c552c1805e6c484decdbed7d127c"
BRAINTREE_MAIN_MERCHANT_ID = "4f5z69jf6ksrghm3"
