<div class="header">
  <div class="header-inner">
    <div>
      <h1>
        <%= @user.name %>
        <% if @user.merchant? %>
          <span class="icon-merchant"></span>
        <% end %>
      </h1>
    </div>
    <%= image_tag @user.gravatar_url, class: "avatar" %>
  </div>
</div>

<div class="container">
  <div class="bio">
    <h2>About me</h2>
    <%= markdown @user.bio %>
  </div>
  <div class="bio">
    <h2>Reviews</h2>
  </div>
</div>
<hr>
<div class="container">
  <h1 class="center">My products</h1>
  <% @user.products.each do |product| %>
    <%= render partial: "home/product", locals: {product: product } %>
  <% end %>
</div>
