

  <div class="product">
    <div class="product-image">
      <% # =product.image %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Rode_blaarkop_hoogdrachtig.jpg" alt="">
    </div>
    <div class="product-header">
      <%= product.title %>
    </div>
    <div class="product-copy">
      <p><%= product.description %></p>

       <div class="stats">
        <ul>
          <li>70%<span>Pledged</span></li>
          <li>7<span>Pledgers</span></li>
          <li>8<span>Days to go</span></li>
        </ul>
      </div>
    </div>
  </div>
<!--
  <div class="product">
    <div class="product-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Blonde_Aquitaine.jpg" alt="">
    </div>
    <div class="product-header">
      Blaarkop
    </div>
    <div class="product-copy">
      <p>Dutch beef by the kilo</p>
    </div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Gelbvieh.jpg/1599px-Gelbvieh.jpg" alt="">
    </div>
    <div class="product-header">
      The Last product
    </div>
    <div class="product-copy">
      <p>&heart;</p>


      <div class="stats">
        <ul>
          <li>70%<span>Pledged</span></li>
          <li>7<span>Pledgers</span></li>
          <li>8<span>Days to go</span></li>
        </ul>
      </div>


    </div>
  </div>

  -->
