<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Reconnect to your food</h1>
      <p>Get real ingredients from local farmers.</p>  
    </div>


    <div class="local-form">
      <div class="inner">
        <h2>Farmers nearby</h2>

        <button>Use my location</button>  
        <div class="zip">
          <label>Enter zip:</label>
          <input type="text" name="zip" placeholder="Like 0178 Berlin">
        </div>      
      </div>
    </div>

  </div>
</div>




<h2 class="header-featured">Featured products</h2>

<div class="products">

<% @products.each do |product| %>
   <%= render partial: "home/product", locals: {product: product } %>
<% end %>


</div>
