<div class="hero">
  <%= video_tag "battlehack.mp4", class: "mood-video", muted: true, autoplay: true, loop: true %>
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Reconnect to your food</h1>
      <p class="tagline">Get <strong>real</strong> ingredients from local farmers.</p>
    </div>


    <div class="local-form">
      <div class="inner">

        <div class="zip">
          <label>Search nearby <%= @location.city %>:</label>
          <input type="text" name="search" placeholder="Like: Organic Sweet Potatoes">
        </div>
      </div>
    </div>

  </div>
</div>

<section class="main">
<h2 class="header-featured">Featured products</h2>
  <div class="products">
  <% @products.each do |product| %>
    <%= render partial: "home/product", locals: {product: product } %>
  <% end %>
  </div>
  <div class="center">
    <%= link_to "More products", products_path, class: "button new-product" %>
  </div>
</section>
