.header {
  background-size: cover;
  background: image-url("hero-cow.jpg") no-repeat 50% 40%;
  margin-bottom: 3em;
  min-height: 300px;
}

.header-inner {
  color: #727272;
  text-align: center;

  h1 {
    font-size: modular-scale(4);
  }

  .icon-merchant:before {
    font-size: 1.3em;
  }

  .avatar {
    box-shadow: none;
    height: 100px;
    margin-bottom: -336px;
    width: 100px;
  }
}

.container {
  @include outer-container;

  h1,h2 {
    font-family: "Roboto Slab", serif;
  }
}

body.users {

  .bio {
    @include span-columns(12);
    padding: 1em;

    @include media($medium-screen-up) {
      @include span-columns(2);
    }

    ul {
      list-style-type: disc;
      margin: 0 0 1em 1em;

    }
  }
}
