<div class="hero">
  <%= image_tag("hero-produce.jpg", class: "mood-video") %>
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Products</h1>
    </div>
  </div>
</div>
<section class="main">
  <div class="products">
    <% @products.each do |product| %>

      <%= render partial: "home/product", locals: {product: product } %>

    <% end %>
  </div>
  <%= link_to 'New Product', new_product_path %>
</section>
