<section class="introduction">
  <p>Yay! You're going to add your first product to <strong>Onion Square</strong>. People from around will be able to by it directly from you! Did you already <%= link_to "write a little bio", edit_user_registration_path %> about yourself?</p>
</section>
<section class="container">
  <div class="form">
    <h1 class="center">New Product</h1>

    <%= render 'form' %>

  </div>
</section>
